<div class="filter-container">
  <p>
    <!-- <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <mat-form-field>
      <mat-select [(ngModel)]="selectedPlant" (selectionChange)="plantChanged()" placeholder="Filter your plant">
        <mat-option *ngFor="let plant of common.plants" [value]="plant.id">
          {{plant.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <span>Date Range:</span>
    <mat-form-field class="from-date">
      <input matInput [(ngModel)]="fromDate" [max]="currentDate" (dateChange)="dateChanged('from')"
        [matDatepicker]="dp1" placeholder="From Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="toDate" [min]="fromDate" [max]="currentDate" (dateChange)="dateChanged('to')"
        [matDatepicker]="dp2" placeholder="To Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>
</div>
<div class="mat-elevation-z8">
  <div class="example-container">
    <!-- <mat-spinner class="spinner" *ngIf="loading"></mat-spinner> -->
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container cdkColumnDef="plantName">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Plant Name"> {{element.plantName ? element.plantName : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="customerName">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Customer Name">
          {{element.customerName ? element.customerName : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="invoiceNo">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Invoice No </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Invoice No"> {{element.invoiceNo ? element.invoiceNo : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="typeOfSand">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Type Of Sand </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Type Of Sand"> {{element.typeOfSand ? element.typeOfSand : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="requiredUnit">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Required Unit </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Required Unit">
          {{element.requiredUnit ? element.requiredUnit : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="vehicleNumber">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Vehicle Number </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Vehicle Number">
          {{element.vehicleNumber ? element.vehicleNumber : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="emptyWeight">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Empty Weight </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Empty Weight">
          {{element.emptyWeight ? element.emptyWeight : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="loadedWeight">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Loaded Weight </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Loaded Weight">
          {{element.loadedWeight ? element.loadedWeight : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="netWeight">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Net Weight </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Net Weight">
          {{element.netWeight ? element.netWeight : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="actualDeliveryUnit">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Actual Delivery Unit </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Actual Delivery Unit">
          {{element.actualDeliveryUnit ? element.actualDeliveryUnit : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="deliveryAddress">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Delivery Address </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Delivery Address">
          {{element.deliveryAddress ? element.deliveryAddress : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="dateTime">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Date">
          {{element.dateTime | date : 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *cdkRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="totalLength" [pageSize]="20" (page)="pageEvent($event)"></mat-paginator>
</div>
