<table mat-table [dataSource]="dataSource">

    <!-- plantName Column -->
    <ng-container matColumnDef="plantName">
      <th mat-header-cell *matHeaderCellDef> Plant Name </th>
      <td mat-cell *matCellDef="let element"> {{element.plantName ? element.plantName : '-'}} </td>
    </ng-container>

    <!-- customerName Column -->
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.customerName ? element.customerName : '-'}} </td>
    </ng-container>

    <!-- invoiceNo Column -->
    <ng-container matColumnDef="invoiceNo">
      <th mat-header-cell *matHeaderCellDef> Invoice No </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceNo ? element.invoiceNo : '-'}} </td>
    </ng-container>

    <!-- typeOfSand Column -->
    <ng-container matColumnDef="typeOfSand">
      <th mat-header-cell *matHeaderCellDef> Type Of Sand </th>
      <td mat-cell *matCellDef="let element"> {{element.typeOfSand ? element.typeOfSand : '-'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="requiredUnit">
      <th mat-header-cell *matHeaderCellDef> Required Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.requiredUnit ? element.requiredUnit : '-'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="vehicleNumber">
      <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber ? element.vehicleNumber : '-'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="emptyWeight">
      <th mat-header-cell *matHeaderCellDef> Empty Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.emptyWeight ? element.emptyWeight : '-'}} </td>
    </ng-container>

    <!-- loadedWeight Column -->
    <ng-container matColumnDef="loadedWeight">
      <th mat-header-cell *matHeaderCellDef> Loaded Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.loadedWeight ? element.loadedWeight : '-'}} </td>
    </ng-container>

    <!-- netWeight Column -->
    <ng-container matColumnDef="netWeight">
      <th mat-header-cell *matHeaderCellDef> Net Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.netWeight ? element.netWeight : '-'}} </td>
    </ng-container>

    <!-- actualDeliveryUnit Column -->
    <ng-container matColumnDef="actualDeliveryUnit">
      <th mat-header-cell *matHeaderCellDef> Actual Delivery Unit </th>
      <td mat-cell *matCellDef="let element"> {{element.actualDeliveryUnit ? element.actualDeliveryUnit : '-'}} </td>
    </ng-container>

    <!-- deliveryAddress Column -->
    <ng-container matColumnDef="deliveryAddress">
      <th mat-header-cell *matHeaderCellDef> Delivery Address </th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryAddress ? element.deliveryAddress : '-'}} </td>
    </ng-container>

    <!-- dateTime Column -->
    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dateTime | date : 'MM/dd/yyyy'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>