<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Username" [formControl]="userName" required>
        <mat-error *ngIf="userName.invalid">{{getErrorMessage('username')}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" [formControl]="password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessage('password')}}</mat-error>
      </mat-form-field>
      <button class="login-btn" type="submit" mat-raised-button color="primary">Login</button>
    </form>
  </div>
</div>