.app-nav {
    mat-toolbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 8px 16px;
        background: rgb(63, 81, 181);
        justify-content: space-between;
        .admin-txt {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            display: flex;
            align-items: center;
            span i {
                float: right;
                font-size: 40px;
                margin-left: 5px;
            }
        }
        .left-side-container {
            width: 250px;
            display: flex;
            align-items: center;
            h2 {
                margin-left: 7px;
            }
        }
    }
}

.side-nav-icon {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-logout {
    width: 110px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.selected-tab-bg {
    background: #3f51b536;
}

