<div color="primary" class="app-nav" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class=left-side-container>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2>{{selectedTap}}</h2>
    </div>
    <span class="admin-txt">
      Admin
      <span class="mouse-cp">
        <i [matMenuTriggerFor]="menu" class="material-icons">account_circle</i>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" class="btn-logout" mat-menu-item>
            <i class="material-icons">logout</i>
            Logout
          </button>
        </mat-menu>
      </span>
    </span>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="snav.toggle()" routerLink="/plants" routerLinkActive="selected-tab-bg">
          <i class="material-icons side-nav-icon">
            business
          </i>
          Plants</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="/rawmaterial" routerLinkActive="selected-tab-bg">
          <i class="material-icons side-nav-icon">
            add_shopping_cart
          </i>
          Raw Materials</a>
        <a mat-list-item (click)="snav.toggle()" routerLink="/orderdetails" routerLinkActive="selected-tab-bg">
          <i class="material-icons side-nav-icon">
            chrome_reader_mode
          </i>
          Order Details</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
