/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mouse-cp {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }

    .mat-table caption {
        font-size: 1em;
    }

    /*  Enable this to hide header
    .mat-table .mat-header-cell {
        
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    */
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
        padding: 0px 20px;
    }

    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;
        padding: 0px;
    }

    .mat-table .mat-cell:before {
        /*
      * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-size: .85em;
    }

    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }

    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }

    .filter-container {
        flex-wrap: wrap;
    }

    .filter-container .from-date {
        margin-top: 5px;
    }
}

// snackbar css
.error-snackbar {
    background-color: #b53f3f;
    color: #FFFFFF !important;
}

.success-snackbar {
    background-color: #3fb549;
    color: #FFFFFF !important;
}

.default-snackbar {
    background-color: #191B1F;
    color: #FFFFFF !important;
}