<div class="filter-container">
  <p>
    <!-- <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->
    <mat-form-field>
      <mat-select [(ngModel)]="selectedPlant" (selectionChange)="plantChanged()" placeholder="Filter your plant">
        <mat-option *ngFor="let plant of common.plants" [value]="plant.id">
          {{plant.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button style="margin-left: 10px;" [disabled]="exportLoading" (click)="export();" class="login-btn" type="submit"
      mat-raised-button color="primary">Export Order Details</button>
  </p>
  <p>
    <span>Date Range:</span>
    <mat-form-field class="from-date">
      <input matInput [(ngModel)]="fromDate" [max]="currentDate" (dateChange)="dateChanged('from')"
        [matDatepicker]="dp1" placeholder="From Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="toDate" [min]="fromDate" [max]="currentDate" (dateChange)="dateChanged('to')"
        [matDatepicker]="dp2" placeholder="To Date" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
    </mat-form-field>
  </p>
</div>
<div class="mat-elevation-z8">
  <div class="example-container">
    <!-- <mat-spinner class="spinner" *ngIf="loading"></mat-spinner> -->
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container cdkColumnDef="orderId">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Order Id </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Order Id"> {{element.Order_Id ? element.Order_Id : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="executiveName">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Executive Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Executive Name">
          {{element.Executive_Name ? element.Executive_Name : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Executive_Phone">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Executive Phone </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Executive Phone">
          {{element.Executive_Phone ? element.Executive_Phone : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Customer_Name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Customer Name">
          {{element.Customer_Name ? element.Customer_Name : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Customer_Phone">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Customer Phone </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Customer Phone">
          {{element.Customer_Phone ? element.Customer_Phone : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Contact_Name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Contact Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Contact Name">
          {{element.Contact_Name ? element.Contact_Name : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Contact_Phone">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Contact Phone </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Contact Phone">
          {{element.Contact_Phone ? element.Contact_Phone : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Customer_Address">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Customer Address </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Customer Address">
          {{element.Customer_Address ? element.Customer_Address : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Billing_Name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Billing Name </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Billing Name">
          {{element.Billing_Name ? element.Billing_Name : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Billing_PhoneNo">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Billing PhoneNo </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Billing PhoneNo">
          {{element.Billing_PhoneNo ? element.Billing_PhoneNo : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="Delivery_Address">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Delivery Address </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Delivery Address">
          {{element.Delivery_Address ? element.Delivery_Address : '-'}} </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *cdkCellDef="let element" data-label="Status">
          {{element.status}} </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *cdkRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <mat-paginator [length]="totalLength" [pageSize]="20" (page)="pageEvent($event)"></mat-paginator>
</div>