.filter-container {
  padding: 10px 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  p {
    margin: 0px;

    span {
      margin-right: 10px;
    }
  }

  .from-date {
    margin-right: 15px;
  }
}

.example-container {
  height: 74.5vh;
  overflow: auto;
}

table {
  width: 100%;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 46%;
}

mat-cell {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 24px !important;
}